.button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
    color: white;
    border: none;
    background-color: #6e6e6e;
    cursor: pointer;
    position: absolute;
    top: 300%;
    transition: top 1s;
}


.square-btn{
    padding: 5px;
    margin: 5px;
}