.CardInterface{
    padding: 20px;
    background-image: linear-gradient(rgba(128, 27, 141, 0.596), rgba(99, 181, 219, 0.596));
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.btn{
    display: flex;
    justify-content: space-around;
    height: 30px;
    margin-top: 10px;
    position: relative;

}

.CardInterface:hover .button{
    top: 0%;
}